<!DOCTYPE html>

<html>
<head>
	<link type="text/css" rel="stylesheet" href="../static/main.css" />

  <title>Victor's Blog </title>
</head>
<body>
	<h1>Victor's blog</h1>
	<form method="post" action="/">
		<label>
			<div>Title</div>
			<input type="text" name="title" value="{{title}}">
		</label>
		<label>
			<div>Content</div>
			<textarea name ="content">{{content}}</textarea>
		</label>
		<br>
		<div class="error">{{error}}</div>
		<input type ="submit">
	</form>

	<hr>
	{% for blog in blog_list %}
	<div class="blog">
		<div>Title:</div>
		<div class="blog-title">{{blog.title}}</div>
		<div>Content:</div>
		<div class="blog-content">{{blog.content}}</div>

	</div>	
	{% endfor %}
</body>
</html>
